.chat-main__message.clearfix{data: {id: "@message.id"}}
  .chat-main__message-name
    -# @messange.name
    Kent Toshima
  .chat-main__message-time
    -# @messange.created_at
    2018/06/14 13:38:11
  .chat-main__message-body
    -# @messange.text
    test message
    / = image_tag "https://s3-ap-northeast-1.amazonaws.com/reviewchatspace/uploads/message/image/1789/1.png"
