$darker-blue: #253141;
$dark-blue: #2f3e51;
$light-blue: #38AEF0;
$side-font-color: #FFFFFF;
$group-name-color: #333333;
$dim-gray: #999999;
$gray-background: #AAAAAA;
$message-color: #434A54;
$header-border-color: #eeeeee
