$darker-blue: #253141;
$dark-blue: #2f3e51;
$light-blue: #38aef0;
$side-font-color: #fff;
$group-name-color: #333;
$dim-gray: #999;
$gray-background: #aaa;
$message-color: #434a54;
$header-border-color: #eee;
$footer-background: #b8c3c7;
