.chat-side {
  color: $side-font-color;
  float: left;
  height: 100vh;
  width: $side-width;

  &__user {
    background-color: $darker-blue;
    height: $header-height;
    position: relative;

    &--new-group {
      color: $side-font-color;
      display: inline-block;
      margin-left: 90px;
      position: relative;
    }

    &--edit-user {
      color: $side-font-color;
      display: inline-block;
      position: relative;
    }
  }

  &__user-content {
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: auto 0;
    position: absolute;
    top: 0;
  }

  &__user-name {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 0 $side-margin;
    position: relative;
  }

  &__groups {
    background-color: $dark-blue;
    height: 85%;
  }

  &__groups-list {
    color: $side-font-color;
    height: 100%;
    .group-link {
      color: $side-font-color;
    }
  }

  &__group {
    padding: $side-margin;
  }

  &__group-name {
    font-size: 15px;
  }

  &__group-message {
    font-size: 11px;
  }
}
