.chat-main {
  float: left;
  height: 100vh;
  width: calc(100vw - 300px);
  &__header {
    border: 1px solid $header-border-color;
    height: $header-height;
    &--group {
      // @include clearfix();
      margin: 0 40px;
    }
    &--group-name {
      color: $group-name-color;
      font-size: 20px;
      margin: 35px 0 15px;
    }
    &--group-edit-btn {
      --font-size: 15px;
      border: 1px solid $light-blue;
      color: $light-blue;
      float: right;
      font-size: var(--font-size);
      margin-top: 28px;
      padding: calc(calc(40px - var(--font-size)) / 2) 20px;
    }
  }
}
