.chat-main {
  --side-width: 300px; // = $side-width
  float: left;
  height: 100vh;
  width: calc(100vw - var(--side-width));

  &__header {
    border: 1px solid $header-border-color;
    height: $header-height;

    &--group {
      @include clearfix();
      margin: 0 $main-margin;
    }

    &--group-name {
      color: $group-name-color;
      float: left;
      font-size: 20px;
      margin: 35px 0 15px;
    }

    &--group-edit-btn {
      --font-size: 15px;
      border: 1px solid $light-blue;
      color: $light-blue;
      float: right;
      font-size: var(--font-size);
      margin-top: 28px;
      padding: calc(calc(40px - var(--font-size)) / 2) 20px;
    }
  }

  &__header-members {
    color: $dim-gray;
    font-size: 12px;
    margin: 0 $main-margin;
  }

  &__body {
    --header-height: 15%; // = $header-height
    --input-height: 90px;
    height: calc(100vh - var(--header-height) - var(--input-height));
    overflow-y: scroll;

    &--messages-list {
      padding-left: 40px;
      padding-top: 26px;
    }
  }

  &__message {
    @include clearfix();
    padding: 20px 0;
  }

  &__message-name {
    color: $message-color;
    float: left;
    font-size: 16px;
    font-weight: bold;
  }

  &__message-time {
    color: $dim-gray;
    float: left;
    font-size: 12px;
    padding: 0 10px 10px;
  }

  &__message-body {
    clear: both;
    color: $message-color;
    img {
      height: 200px;
    }
  }

  &__footer {
    background-color: $footer-background;
    height: $footer-height;
    width: 100%;
  }

  &__footer-form {
    margin: 0 $main-margin;
    position: relative;
  }

  &__footer-body {
    position: relative;

    .message {
      border: 0;
      height: 50px;
      margin: 20px 0;
      padding: 15px 10px;
      width: calc(100% - 130px);
    }

    .chat-file {
      height: 50px;
      margin: 32px 130px 20px 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;

      #message_image {
        display: none;
        left: 15px;
        position: absolute;
        top: 15px;
      }
    }

    .submit {
      background-color: $light-blue;
      border: 0;
      color: $side-font-color;
      height: 50px;
      margin: 20px 0;
      text-align: center;
      width: 100px;
    }
  }
}
